* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: #000000;
}

html::-webkit-scrollbar-thumb {
    background: #fabf31;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    height: 3rem;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    z-index: 909;
    background-color: black;
    user-select: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 2rem;
}

.logo span {
    margin-left: 0.5rem;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-wrap: nowrap;
}

.links nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

.links nav a {
    color: rgb(225, 225, 225);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-wrap: nowrap;
    font-weight: 600;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.links nav a:hover {
    color: rgb(255, 255, 255);
}

.links button {
    padding: 0.5rem 0.8rem;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 0.3rem;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
}

.navbarbox {
    width: 1.5rem;
    height: 1rem;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.navbarbox .row {
    width: 100%;
    height: 2px;
    background-color: white;
}

/* navbar */
/* outerbox */
.outerbox{
    display: none;
    background-color: #000;
    padding:3rem;
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 2;
    height: 100vh;
}
.show{
    display: block;
}
.outerbox nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.outerbox nav a{
    color: rgb(225, 225, 225);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-wrap: nowrap;
    font-weight: 600;
    
}
/* outerbox */
/* bg */
.bg {
    width: 100%;
    height: 90vh;
    padding-top: 3rem;
    background: url(../pho/26179.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    filter: saturate(1.2);
}

.h11 {
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0.8rem;
}

.pp {
    width: 60vw;
    color: white;
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}

/* bg */
/* mater */
.mater {
    background-color: black;
    color: white;
}

.headt {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4rem 0 2rem;
}

.headt2 {
    text-align: center;
    color: #ffbc1e;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
}

.cours {
    padding: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5rem;
}

.dis {
    width: 50vw;
}

.topic {
    text-align: left;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.subtopic {
    font-size: 1rem;
    color: rgb(213, 213, 213);
    font-weight: 600;
}

.btn {
    border: none;
    outline: none;
    user-select: none;
    margin-top: 2rem;
}

.btn a {
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: #ffbc1e;
    padding: 1vw 2vw;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.thum {
    width: 40vw;
    height: 20vw;
    background-size: cover;
    background-position: center;
    border-radius: 0.4rem;
    display: flex;
}

.copywrite {
    width: 100%;
    align-self: flex-end;
    text-align: right;
    font-size: 0.4rem;
    text-decoration: none;
    color: whitesmoke;
    padding: 0.2rem;
    font-weight: 500;
}

/* mater */
/* qu */
.qu {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#quimg {
    width: 4vw;
    border-radius: 50%;
}

#quup {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.left {
    width: 40vw;
}

.right {
    width: 40vw;
}

#ripp {
    text-align: left;
    color: rgba(0, 0, 0, 0.537);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 2rem;

}

/* qu */

/* next */
.next {
    background-color: #0d0d14;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    padding: 2rem 0;
}

.headt3 {
    text-align: center;
    color: #fff4da;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 50vw;
    text-align: center;
}

.nextp {
    text-align: left;
    color: rgba(255, 255, 255, 0.537);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1rem;
    width: 60vw;
    margin-top: 3rem;
}

/* next */


/* respon */
@media only screen and (max-width: 700px) {
    body {
        background-color: lightblue;
    }
    .h11 {
        font-size: 5vw;
    }

    .navbar {
        position: static;
        padding: 0 2%;
    }

    .links nav {
        display: none;
    }

    .navbarbox {
        display: flex;
    }

    .pp {
        width: 95%;
        font-size: 0.8rem;
    }

    .headt {
        font-size: 1.5rem;
        padding: 4rem 0.3rem 2rem;
    }

    .headt2 {
        font-size: 0.6rem;
        padding: 0 0.5rem;
    }

    .cours {
        padding: 4rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .dis {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    .topic {
        font-size: 1.2rem;
    }

    .subtopic {
        font-size: 0.9rem;
    }

    .btn {
        background: transparent;
        align-self: flex-end;
    }

    .btn a {
        padding: 0.5rem 0.9rem;
        font-size: 0.7rem;
        color: rgb(0, 0, 0);
    }

    .thum {
        height: 10rem;
        width: 70vw;
        background-size: cover;
        background-position: center;
        border-radius: 0.3rem;
        display: flex;
    }

    .copywrite {
        width: 100%;
        align-self: flex-end;
        text-align: right;
        font-size: 0.3rem;
        text-decoration: none;
        color: whitesmoke;
        padding: 0.2rem;
        font-weight: 500;
    }

    .qu {
        flex-direction: column;
    }

    #quimg {
        width: 5rem;
    }

    #quup {
        font-size: 1rem;
        margin-top: 0;
    }

    .left {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .right {
        width: 90vw;
    }

    #ripp {
        text-align: center;
        font-size: 1.4rem;
    }

    .next {
        height: max-content;
        padding: 1rem 0;
    }

    .headt3 {
        text-align: left;
        font-size: 0.8rem;
        width: 90vw;
    }

    .nextp {
        text-align: left;
        font-size: 0.9rem;
        width: 90vw;
    }
}

/* respon */